/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar-inverse {
    background-color: #FFFFFF;
    border-color:  #FFFFFF;
    height:100px
    
}

.navbar-brand{
	margin-right: 250px
}

.iconos{
	margin-left: 250px
}

.centrado{
	margin-left:250px;
	margin-top:100px;
	width:600px;
	height:350px; 
	
}

